// Variables
$bg-danger: red;
$bg-success: green;
$bg-warning: yellow;
$bg-info: blue;
$bg-dark: black;
$bg-light: white;

$color-danger: red;
$color-success: green;
$color-warning: yellow;
$color-info: blue;
$color-light: white;
$color-dark: black;

.btn-success {
    color: $color-light;
    background: $bg-success;
}

.btn-danger {
    color: $color-light !important;
    background: $bg-danger !important;
    border-radius: 4px !important;
}

.btn-dark {
    background: $bg-dark !important;
    color: $color-light !important;
    border-radius: 4px !important;
}

// OVERWRITE IONIC STYLING
.searchbar.searchbar-md {
    width: 60vh;
    display: inline-block;
    .searchbar-input {
        padding: 0 45px !important;
        border-radius: 4px !important;
    }
    .searchbar-search-icon {
        top: 5px !important;
    }
}
